@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

$font-size-global:10px;
$font-size:2.4em;
$font-size-big:3em;

$font-family-global:'Red Hat Text', sans-serif;
$font-weight:700;